<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.ProblemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Problem">
        <result column="pro_id" property="proId" />
        <result column="a" property="a" />
        <result column="b" property="b" />
        <result column="c" property="c" />
        <result column="d" property="d" />
        <result column="e" property="e" />
        <result column="f" property="f" />
        <result column="g" property="g" />
        <result column="h" property="h" />
    </resultMap>

</mapper>
