<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.ResultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Result">
        <id column="result_id" property="resultId" />
        <result column="user_id" property="userId" />
        <result column="time_result" property="timeResult" />
        <result column="result_score" property="resultScore" />
        <result column="teacher_id" property="teacherId" />
        <result column="is_first" property="isFirst" />
        <result column="result_remarks" property="resultRemarks" />
        <result column="isSuccess" property="isSuccess" />
        <result column="userName" property="userName" />
        <result column="teacherName" property="teacherName" />
        <result column="resultTime" property="resultTime" />
        <result column="isOk" property="isOk" />
    </resultMap>
    <update id="update_isok">
        update result set is_ok <![CDATA[ = ]]> ${item1} where result_id <![CDATA[ = ]]> ${item2};
    </update>
    <select id="getall" resultType="com.example.mybatisplus.model.domain.Result">
        select * from result;
    </select>
    <select id="getperson" resultType="com.example.mybatisplus.model.domain.Result">
        select * from result where user_id <![CDATA[ = ]]> '${item}';
    </select>
    <select id="getteacher" resultType="com.example.mybatisplus.model.domain.Result">
        select * from result where teacher_id <![CDATA[ = ]]> '${item}';
    </select>



</mapper>
